/* google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */
:root{
    --header-height:3rem;
    --font-semi: 600;
}

/* color  */
:root{
    --first-color:#4070f4;
    --second-color:#0e2431;
    --gradient-color:linear-gradient(to right,#5001fb,#8e0af3);
}

/* font style */
:root{
    --body-fonts:'poppins',san-serif;
    --big-font-size: 2rem;
    --h2-font-size:1.5rem;
    --normal-font-size:0.938rem;
}

/* media screen width */
:root{
    --big-font-size: 3.5rem;
    --h2-font-size:2rem;
    --normal-font-size:1rem;
}

/* margins */
:root{
    --ab-1:0.5rem;
    --ab-2:1rem;
    --ab-3:1.5rem;
    --ab-4:2rem;
    --ab-5:2.5rem;
    --ab-6:3rem;
}
/* z-index */
:root{
    --z-back:-10;
    --normal:1;
    --z-tooltip:10;
    --z-fixed:100;
}
/* Base */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font: var(--body-fonts);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}                       
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
    height: auto;
    display: block;
}